.nappula {
    margin-top: 20px;
    margin-left: 30px;
}

.demo {
    margin-top: 20px;
    margin-left: 30px;
}

.gifi {
    margin-top: 20px;
    margin-left: 30px;
}

.laskuri {
    margin-top: 20px;
    margin-left: 30px;
}

.kokopaska {
    text-align: center;
    margin-top: 120px;
}

.accordion {
    width: 800px;
    margin-left: 550px;
}

.accordion-body {}