.kokopaska {
    text-align: center;


}

.kanootinInfo {
    margin-bottom: 20px;
    margin-right: 700px;
}

.palvelukenttä {
    margin-left: 142px;
    margin-bottom: 20px;
}

.hintasarake {
    margin-left: 40px;
}

.numerokenttä {
    margin-left: 20px;
    margin-bottom: 20px;
}

.btn_btn-primary {
    margin-left: 400px;
}

.varaa {
    margin-top: 20px;
}

.alaosa {
    margin-right: 400px;
}

.infoTeksti {

    margin-right: 800px;
}